<%- include('partials/header') %>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>User Name</th>
      <th>Reservation Date</th>
    </tr>
  </thead>
  <tbody>
    <% for (let reservation of reservations) { %>
    <tr>
      <td><%- reservation.book_title %></td>
      <td><%- reservation.user_name %></td>
      <td><%- reservation.reservation_date %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('partials/footer') %>
