<%- include('partials/header') %>
<nav>
  <ul>
    <li><a href="/users/admin">Admin Dashboard</a></li>
  </ul>
</nav>

<h1>Users</h1>

<table id="main-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% for (let user of users) { %>
    <tr>
      <td><%- user.name %></td>
      <td><%- user.email %></td>
      <td><%- user.role %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('partials/footer') %>
