<%- include ('partials/header') -%>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>User Name</th>
      <th>Transaction Date</th>
    </tr>
  </thead>
  <tbody>
    <% for (let transaction of transactions) { %>
    <tr>
      <td><%- transaction.book_title %></td>
      <td><%- transaction.user_name %></td>
      <td><%- transaction.transaction_date %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include ('partials/footer') -%>
